<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Iniciar Sesión</div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de usuario</label>
              <input type="text" id="Usuario1" placeholder="Ingrese su nombre de usuario" name="Usuario1" ngModel required [(ngModel)]="Usuario1">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="Contrasena" name="Contrasena" ngModel required [(ngModel)]="Contrasena">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button  (click)="Validar()" type="submit" class="btn btn-primary">Iniciar Sesión</button>
         
        </div>
      </div>
    </div>
  </div>
</div>
